@use "sass:map";
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: map.get(map.get($color-palette, neutral), 50);
}

.card {
  width: 100%;
  max-width: 28rem;
  padding: map.get($spacing-scale, 8);
}

.logo {
  text-align: center;
  font-size: 2rem;
  font-weight: map.get(map.get($typography, font-weight), bold);
  color: map.get(map.get($color-palette, primary), 500);
  margin-bottom: map.get($spacing-scale, 24);
  line-height: 110%;
  letter-spacing: -1.5px;
}

.verificationText {
  text-align: left;
  margin-bottom: map.get($spacing-scale, 6);

  p {
    margin: 0;
    margin-bottom: map.get($spacing-scale, 1);
    color: map.get(map.get($color-palette, neutral), 900);
    font-size: 0.9rem;
    font-weight: map.get(map.get($typography, font-weight), regular);
    line-height: 140%;
    letter-spacing: -4%;
  }
}

.email {
  color: map.get(map.get($color-palette, neutral), 600);
  font-size: 0.875rem;
}
